<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.arthistory"
        versionCode = "1" 
        version     = "1.0.0" >
 
  
<preference name="permissions" value="none" />
<plugin name="cordova-plugin-whitelist" />
    <name>Art History</name>
 
    <description>
        Your problems art history!
    </description>
 
    <author href="http://www.bistrachilikova.byethost32.com" email="bistra.chilikova@abv.bg">
        Bistra Chilikova
    </author>


    <allow-intent href="*" />
<access origin="*" />
 
</widget>
